.width-constrained {
    max-width: 1000px;
    margin: auto;
}

.card {
    max-width: 25em;
}

.card-img-top {
    max-height: 75px;
    max-width: 75px
}

.card a {
    text-decoration: none;
    color: #1E588F;
}

.card a:hover {
    text-decoration: underline;
}